<%- include('../partials/header') %>

<main>
  <h2>Flight List</h2>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td>#<%= f.flightNo %></td>
          <td><%= f.departs.toDateString() %></td>
          <td><a href="">Details</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/flights/new"><button>Add Flight</button></a>
</main>

<%- include('../partials/footer') %>