<%- include('../partials/header') %>

<main>
  <h2>Flight List</h2>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% flight.forEach(function(f) { %>
        <tr class="<%= f.departs < new Date() ? 'pastDate' : '' %>">
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td>#<%= f.flightNo %></td>
          <td><%= f.departs.toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'short'}) %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/flights/new"><button>Add Flight</button></a>
</main>

<%- include('../partials/footer') %>